:root {
    box-sizing: border-box;
}

body {
    margin: 5% auto;
    width: 70%;
}

.container {
    display: grid;
}

div :nth-child(even) {
    background: lightgray;

}

.displayDiv {
    font-size: 19px;
    border: 1px solid lightslategray;
    min-height: 37px;
    text-align: center;
    padding: 20px;
}